<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Abuela Sorda</h1>
	<p>Di algo abuela: </p>
	<form action="/abuelita" method="post">
		<input type="text" name="queDijo"></input>
		<input type="submit" value="Dilo!"></input>
	</form>
</body>
</html>